<div class="search-container">
  <h1 class="title">Movie Search</h1>
  <div class="content-search">
    <input type="text" [(ngModel)]="query" placeholder="Search for movies...">
    <button (click)="searchMovies()">Search</button>
  </div>
  <div *ngIf="movies.length" class="movie-list">
    <ul>
      <li class="movie-item" *ngFor="let movie of movies">
        <a (click)="goToDetails(movie.id)">
          <h2 class="movie-title">{{ movie.title }} ({{ movie.release_date | date:'yyyy' }})</h2>
          <p class="movie-description">{{ movie.overview }}</p>
        </a>
      </li>
    </ul>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>
